# GISELLE HERNANDEZ
# TIFFANY NGUYEN
version: "3.8"

services:
  fsguardian:
    build: .
    container_name: fsguardian_runner
    working_dir: /app

    command: >
      sh -c "
        echo 'Running all test cases...' &&
        for f in tests/safe/*.c tests/unsafe/*.c; do
          echo '\n--- Scanning:' $$f '---';
          ./fsguard $$f;
        done
      "

    volumes:
      - .:/app
