# GISELLE HERNANDEZ
# TIFFANY NGUYEN
# DOCKER-COMPOSE.YML FILE
version: "3.8"

services:
  fsguardian:
    build: .
    container_name: fsguardian_runner
    working_dir: /app

    command: >
      sh -c "
        echo 'Compiling Format String Guardian...' &&
        gcc -o fsguard scanner/format_string_guardian.c &&
        echo 'Running all test cases...' &&
        for f in tests/safe/*.c tests/unsafe/*.c; do
          echo ''; 
          echo '--- Scanning:' $$f '---';
          ./fsguard $$f;
        done
      "

    volumes:
      - .:/app
